.searchbar {
  height: 50px;
  text-align: center;
}

.searchbar input {
  height: 100%;
  width: 60%;
  max-width: 400px;
  border: none;
  padding: 0 16px;
  border-radius: 14px 0 0 14px;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.searchbar input:focus {
  outline: none;
}

.searchbar-btn {
  background-color: #000;
  border: none;
  height: 100%;
  width: 50px;
  border-radius: 0 14px 14px 0;
  cursor: pointer;
  transform: translateY(1px);
}

.searchbar-btn img {
  transform: translateY(10%);
}